
    <div class="col-md-4 col-xs-4 hero-tryptics">
        <p class="tryptic-help-content">
            <b>Need Help?</b> If so, we're here for you. <br><br>
            Do you need help with the <a href="javascript:void(0);" target="_blank">Mob Portal Framework</a>,
            like <a href="javascript:void(0);" target="_blank">login</a> or
            <a href="javascript:void(0);" target="_blank">navigation</a>? Maybe it's the
            <a href="javascript:void(0);" target="_blank">Valentine's Day Mad Libs</a>. If not
            just click the button below for
            general help.
        </p>
        <a class="btn-mob hero-tryptic-button" href="/#/help">Get Me Some Help</a>
    </div>
        